POSTGRES_DB=YOUR_DATABASE_NAME_HERE
POSTGRES_USER=YOUR_USERNAME_HERE
POSTGRES_PASSWORD=YOUR_PASSWORD_HERE

PORT=3000

DB_HOST=localhost
DB_PORT=5434
DB_NAME=YOUR_DATABASE_NAME_HERE
DB_USER=YOUR_USERNAME_HERE
DB_PASSWORD=YOUR_PASSWORD_HERE

MQTT_BROKER=mqtts://YOUR_HIVEMQ_HOST:8883
MQTT_USERNAME=YOUR_MQTT_USERNAME_HERE
MQTT_PASSWORD=YOUR_MQTT_PASSWORD_HERE
MQTT_TOPIC=sisf/sensor/data

DEFAULT_DEVICE_ID=1
DEVICE_TIMEOUT_MS=30000

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=1d