# Database
DB_HOST=localhost
DB_PORT=5434
DB_NAME=YOUR_DATABASE_NAME_HERE
DB_USER=YOUR_USERNAME_HERE
DB_PASSWORD=YOUR_PASSWORD_HERE

# MQTT
MQTT_BROKER=mqtts://YOUR_HIVEMQ_HOST:8883
MQTT_USERNAME=YOUR_MQTT_USERNAME_HERE
MQTT_PASSWORD=YOUR_MQTT_PASSWORD_HERE
MQTT_TOPIC=sisf/sensor/data

# Backend
PORT=3000
DEFAULT_DEVICE_ID=1
SENSOR_INTERVAL_MS=60000
XGB_API_URL=http://localhost:5000

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=1d

# Frontend 
VITE_API_URL=http://localhost:3000